# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs
*.log

# Temporary files
*.tmp
*.temp
# Alertmanager secrets
alertmanager/secrets/
